In [2]:
import numpy as np
import pandas as pd

In [3]:
bookdata=pd.read_csv('books.csv')

In [4]:
bookdata.head()

,Title,Author,Genre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",signal_processing,228,Wiley
1,Data Smart,"Foreman, John",data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",economics,179,HarperCollins
4,Orientalism,"Said, Edward",history,197,Penguin

In [5]:
bookdata.head()['Title'].values

array(['Fundamentals of Wavelets', 'Data Smart',
       'God Created the Integers', 'Superfreakonomics', 'Orientalism'],
      dtype=object)

In [6]:
bookdata.shape

(211, 5)

In [7]:
#title 
#author
#genre

In [8]:
BD=bookdata[['Title','Author','Genre']]

In [9]:
BD.head(63)

                                  Title              Author              Genre
0              Fundamentals of Wavelets    Goswami, Jaideva  signal_processing
1                            Data Smart       Foreman, John       data_science
2              God Created the Integers    Hawking, Stephen        mathematics
3                     Superfreakonomics     Dubner, Stephen          economics
4                           Orientalism        Said, Edward            history
..                                  ...                 ...                ...
58                      Learning OpenCV       Bradsky, Gary       data_science
59        Data Structures Using C & C++   Tanenbaum, Andrew   computer_science
60   Computer Vision, A Modern Approach      Forsyth, David       data_science
61  Principles of Communication Systems     Taub, Schilling   computer_science
62                             Let Us C  Kanetkar, Yashwant   computer_science

[63 rows x 3 columns]

In [10]:
BD.isnull().sum()

Title      0
Author    24
Genre      0
dtype: int64

In [11]:
BD.dropna(inplace=False)

                            Title              Author              Genre
0        Fundamentals of Wavelets    Goswami, Jaideva  signal_processing
1                      Data Smart       Foreman, John       data_science
2        God Created the Integers    Hawking, Stephen        mathematics
3               Superfreakonomics     Dubner, Stephen          economics
4                     Orientalism        Said, Edward            history
..                            ...                 ...                ...
206      Structure and Randomness        Tao, Terence        mathematics
207  Image Processing with MATLAB       Eddins, Steve  signal_processing
208                   Animal Farm      Orwell, George            fiction
209                    Idiot, The  Dostoevsky, Fyodor            fiction
210            Christmas Carol, A    Dickens, Charles            fiction

[187 rows x 3 columns]

In [12]:
BD.duplicated().sum()

1

In [13]:
BD1=BD.drop_duplicates()

In [14]:
BD1.duplicated().sum()

0

In [15]:
from sklearn.metrics.pairwise import cosine_similarity as cs

In [23]:
cs(vectors)

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 0., 0., ..., 1., 1., 1.]])

In [17]:
BD1

                            Title              Author              Genre
0        Fundamentals of Wavelets    Goswami, Jaideva  signal_processing
1                      Data Smart       Foreman, John       data_science
2        God Created the Integers    Hawking, Stephen        mathematics
3               Superfreakonomics     Dubner, Stephen          economics
4                     Orientalism        Said, Edward            history
..                            ...                 ...                ...
206      Structure and Randomness        Tao, Terence        mathematics
207  Image Processing with MATLAB       Eddins, Steve  signal_processing
208                   Animal Farm      Orwell, George            fiction
209                    Idiot, The  Dostoevsky, Fyodor            fiction
210            Christmas Carol, A    Dickens, Charles            fiction

[210 rows x 3 columns]

In [18]:
BD.shape

(211, 3)

In [19]:
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
cv = CountVectorizer(max_features=200,stop_words='english')

In [21]:
vectors=cv.fit_transform(BD1['Genre']).toarray()

In [22]:
vectors[185]

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [45]:
cv.get_feature_names()

['comic',
 'computer_science',
 'data_science',
 'economics',
 'fiction',
 'history',
 'mathematics',
 'nonfiction',
 'philosophy',
 'psychology',
 'science',
 'signal_processing']

In [24]:
from sklearn.metrics.pairwise import cosine_similarity as cs

In [25]:
similarity=cs(vectors)

In [26]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:5]

[(8, 1.0), (206, 1.0), (1, 0.0), (2, 0.0)]

In [27]:
def recommend(book):
    book_inx=BD1[BD1['Genre'] == book].index[0]
    distance = similarity[book_inx]
    book_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[0:5]
    
    for i in book_list:
        print(BD1.iloc[i[0]].Title)

In [28]:
recommend('signal_processing')

Fundamentals of Wavelets
Image Processing & Mathematical Morphology
Image Processing with MATLAB
Data Smart
God Created the Integers

In [68]:
BD1.iloc[110].Title

'We the Living'

In [29]:
import pickle

In [30]:
pickle.dump(BD1,open('books.pkl','wb'))

In [32]:
pickle.dump(similarity,open('similarity.pkl','wb'))